flask
flask-cors
gunicorn
Werkzeug
python-dotenv
PyPDF2
pypdf
PyMuPDF
azure-storage-blob
langchain
langchain-community
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-openai
groq
huggingface-hub
openai
faiss-cpu
google-generativeai